<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/three.js/r58/three.min.js"></script>
<script type="text/javascript" src="/assets/three.js/TrackballControls.js"></script>
<script type="text/javascript" src="/assets/three.js/Tabulation.js"></script>
<script src="/assets/three.js/helvetiker_regular.typeface.js"></script>
